/*
GENERAL ELEMENTS
____________________ */
html { overflow-y: scroll; }
body { background-color: #f2f2f2; }

span.separator { padding: 0 4px; color: #222; }

hr.header-footer-seperator { border-top: 3px double #8c8b8b; margin: 0; }

img.error { border-radius: 25px; padding: 20px; width: 300px;height: 250px; }

/*
HEADER
____________________ */
#brand { font-size: 2rem; padding: 0; margin: 0; }
#brand a { color: black; }
#brand a:hover { color: #BF3333; border: none; }

#navCont { text-align:right; }
#navCont a { font-size: 1.75rem; }
#navCont a:hover { border-bottom: 1px solid; }

/*
INTRODUCTION SECTION
____________________ */
#introduction #headshot {
    display: block;
    height: 20rem;
    width: 20rem;
    margin: 2rem auto;
}

#introduction #text-container { margin: 1rem 0; }

#introduction #text-container p {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

/*
PORTFOLIO CARDS
____________________ */
.card {
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 200px;
}

.card:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}

.card-title {
    height: 15%;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #C3C3C3;
    text-align: center;
}

.card-preview {
    height: 84.5%;
}

.card-preview > img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
LIGHTBOX
____________________ */
#lightbox-windows {
    display: none;
}

.lightbox {
}

.lightbox h1 {
    margin-bottom: 0;
}

.lightbox > .featherlight-content {
    max-width: 750px;
}

.lightbox > .featherlight-content > .featherlight-inner >
.subtitle {
    opacity: 0.7;
    font-style: italic;
}

/*
FOOTER
____________________ */
#footer { margin-top: 7px; }
#footer p { text-align:center; }

/*
MEDIA QUERIES
____________________ */
@media (max-width: 400px) { /*Phone*/
}

@media (max-width: 750px) { /*Tablet*/
    #brand { text-align: center; }
    h1 { text-align:center; }
    p { text-align:justify; }
    #navCont { text-align:center; padding-right:0px; }
    img.error{ width: 200px; height: 150px; }
    .card { margin-top: 5px; }
}

/*
CIRCULAR IMAGE *Note that image much be square for this to work
____________________ */
.circle-img { width: 150px; height: 150px; position: relative; overflow: hidden; border-radius: 50%; }
.circle-img img { display: inline; margin: 0 auto; height: 100%; width: auto; }
